# See https://docs.docker.com/compose/compose-file/ for information about what
# commands you can use in this file.
#
# Note that you must use the `docker stack deploy` command, with any required
# command line flags, in order to actually get any replicas started. That
# command requires that a docker swarm is already running in order to function.

version: "3"
services:
  node:
    build: .
    image: ghcr.io/matteocarnelos/kadlab:latest
    stdin_open: true
    tty: true
    deploy:
      replicas: 5
      restart_policy:
        condition: on-failure
        max_attempts: 3
        window: 10s
  terminal:
    image: cosmintitei/bash-curl
    stdin_open: true
    tty: true
